<% @page_title = "Magic link" %>

<div
  class="panel shadow center margin-block-double <%= "shake" if flash[:alert] %>"
  style="--panel-size: 55ch;"
>
  <h1 class="txt-xx-large margin-block-end-double">Check your email</h1>

  <p>We just emailed you a special code.</p>

  <%= form_with url: session_magic_link_path, method: :post, html: { class: "flex flex-column gap", data: { controller: token_list("auto-submit" => params[:code].present?)} } do |form| %>
    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor">
        <%= form.text_field :code, required: true, class: "input full-width text-align-center", autofocus: true, autocomplete: "code", placeholder: "Enter the code", value: params[:code] %>
      </label>
    </div>

    <button type="submit" class="btn btn--reversed center">
      <%= icon_tag "arrow-right" %>
      <span class="for-screen-reader">Next</span>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <div class="txt-align-center center margin-block-double txt-subtle">
    Fizzy&trade; version 0
  </div>
<% end %>
