<% cache notification do %>
  <%= notification_tag notification do %>
    <div class="avatar txt-x-small flex-item-no-shrink">
      <%= avatar_image_tag notification.creator %>
    </div>

    <div class="flex flex-column min-width flex-item-grow">
      <%= render "notifications/notification/#{notification.source_type.underscore}", notification: notification %>
    </div>
  <% end %>
<% end %>
